/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(242, 252, 251);
  font-family: 'Ubuntu', sans-serif;
}

/* LAYOUT  */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* header  */

header h1 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}

header p {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

header {
  background: #09656b1a;
  padding: 2em 0;
}
/* navigation  */

.container-nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: rgb(106, 115, 112);
}

nav a:hover,
nav a:active {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

/* Showcase  */
#showcase {
  width: 80%;
  margin: 0 auto;
}

/* Main Content  */

#main {
  float: left;
  width: 70%;
  padding: 0px 30px;
  box-sizing: border-box;
}

/* Sidebar  */

aside {
  float: right;
  width: 30%;
  background: #333;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

/* FOOTER  */

footer {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background: #e8491d;
  text-align: center;
}

/* Media Queries  */

@media (max-width: 700px) {
  #showcase {
    width: 100%;
  }
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
  #main {
    width: 100%;
    text-align: center;
    float: none;
  }
  aside {
    width: 100%;
    text-align: center;
    float: none;
  }
}
